.main-cont {
  background-color: #121213;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.one-row {
  display: flex;
  flex-direction: row;
}

.video-wrapper {
  position: relative;
  background-color: #121213;
  border-radius: 15px;
  width: 80vw;
  height: 90vh;
}

.video {
  border-radius: 15px;
  width: 80vw;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 0;
}
.embed-overlay {
  background-color: transparent;
  position: fixed;
  z-index: 1000;
  width: 80vw;
  height: 90vh;
}
.chat {
  overflow: auto;
  background-color: #121213;
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 90vh;
}

.display-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
  border-radius: 15px;
  font-size: 1.8vw;
  background-color: #242526;
  padding: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: aliceblue;
}

.more-icon {
  position: relative;
  left: 500px;
}

.card-name-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bottom-bar {
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  background-color: #121213;
}

.btns {
  margin-right: 4vw;
  margin-left: 4vw;
  font-size: 22px;
}

.normal-btn {
  background-color: #242526;
  color: white;
  padding: 8px;
  border-radius: 40px;
  padding-bottom: 5px;
  border: none;
  margin: 5px;
}

.normal-btn:hover {
  background-color: #686872;
}
.end-call-btn {
  background-color: red;
  color: white;
  padding: 8px;
  border-radius: 40px;
  padding-bottom: 5px;
  border: none;
  margin: 5px;
}

.msg-btn-on {
  background-color: #7393b3;
  color: white;
  padding: 8px;
  border-radius: 40px;
  padding-bottom: 5px;
  border: none;
  margin: 5px;
}

.end-call-btn:hover {
  background-color: #eb514f;
}

.default-btn {
  background-color: transparent;
  color: white;
  position: relative;
  left: 7vw;
  right: 100px;
  border: none;
  font-size: 20px;
  transform: translateY(-12vh);
}

.main-things-display {
  transform: translateY(-15vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: calc(-15.5vh);
}

.dropdown {
  position: relative;
  z-index: 1000;
  display: flex;
  width: 5.5vw;
  height: 12vh;
  right: -3.8vw;
  top: 0.1vh;
  background-color: white;
}
.dropdown-close {
  position: relative;
  z-index: 1000;
  display: flex;
  width: 5.5vw;
  height: 12vh;
  right: -3.8vw;
  top: 0.1vh;
  background-color: transparent;
}
