.chat-cont-main {
  overflow: hidden;
  position: relative;
  background-color: white;
  height: inherit;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}

.chat-cont {
  height: 80vh;
  overflow: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.chat-ind {
  margin: 10px;
}

.chat-name {
  font-weight: bold;
}
.chat-msg {
  height: fit-content;
  width: 10vw;
  display: contents;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}
.textfield {
  width: 18vw;
  padding: 2px;
  background-color: white;
  position: fixed;
  top: 81vh;
  right: 0.3vw;
  margin-right: 10px;
  border-radius: 15px;
}
