.grid-container {
  position: absolute;
  left: -4.4%;
  right: 0%;
  bottom: 0%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  overflow: hidden;
  gap: 0 0;
  max-height: 105vh;
}

.grid-img {
  width: 300px;
  height: 300px;
}
.logo {
  width: 180px;
}
.slogan {
  font-size: 25px;
  margin: 10px;
}
.hi {
  display: flex;
  overflow: hidden;
}
.main-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-card {
  flex-direction: column;
  display: flex;
  z-index: 1000;
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  color: white;
  font-size: 5rem;
  min-width: fit-content;
  background-color: #242526;
  border-radius: 5px;

  min-height: fit-content;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 20px;
  padding-top: 20px;
}

.login-field {
  background-color: #121416;
  color: white;
  min-width: 350px;
  border: 0px;
  border-radius: 5px;
  padding: 15px;

  font-size: 25px;
  margin-bottom: 20px;
}
.column {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error {
  color: red;
  font-size: 20px;
}

.sign-in {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  transition: 0.25s;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  text-decoration: none;
  font-size: 15px;
}

.sign-in:hover,
.sign-in:focus {
  border-color: #f5f0ed;
  box-shadow: 0 0.5em 0.5em -0.4em #f5f0ed;
  transform: translateY(-0.25em);
}

.google-sign-in {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #e4cb58;
  transition: 0.25s;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 15px;
  font-size: 17px;
  text-decoration: none;
}

.google-sign-in:hover,
.google-sign-in:focus {
  border-color: #ebc726;
  box-shadow: 0 0.5em 0.5em -0.4em #ebc726;
  transform: translateY(-0.25em);
}

.github-sign-in {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #a972cb;
  transition: 0.25s;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 15px;
  font-size: 17px;
  text-decoration: none;
}

.github-sign-in:hover,
.github-sign-in:focus {
  border-color: #a972cb;
  box-shadow: 0 0.5em 0.5em -0.4em #a972cb;
  transform: translateY(-0.25em);
}

.facebook-sign-in {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #2898e2;
  transition: 0.25s;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 15px;
  font-size: 17px;
  text-decoration: none;
}

.facebook-sign-in:hover,
.facebook-sign-in:focus {
  border-color: #28b7e2;
  box-shadow: 0 0.5em 0.5em -0.4em #28b7e2;
  transform: translateY(-0.25em);
}

.x {
  margin: 0px;
  font-size: 300px;
}

.btns-main {
  position: relative;
  top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}

@media (max-width: 500px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .grid-img {
    height: calc((100vh / 7) + 10px);
    width: calc((100vh / 7) + 10px);
  }
  .login-card {
    max-width: 80vw;
    min-width: 80vw;
    min-height: fit-content;
    max-height: fit-content;
    margin: 0px;

    padding: 20px;
    padding-top: 0px;
    font-size: 20px;
  }
}
