.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-card {
  max-width: 50vw;
  border-radius: 30px;
  color: white;
  background-color: #121213;
  padding: 50px;
  z-index: 1000;
  font-size: 1.6rem;
}

.modal-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: #121213;
}

.modal-title {
  padding-left: 10px;
}

.modal-channel-name {
  padding-left: 10px;
  color: rgb(212, 209, 209);
  font-size: 1rem;
}
.modal-item:hover {
  background-color: #1f1f1e;
}

@media (max-width: 500px) {
  .modal-card {
    padding: 10px;
    max-width: 80vw;
    font-size: 15px;
    height: fit-content;
  }
  .modal-item {
    padding: 0px;
  }
}
